{% extends 'page_web/base.html' %}

{% block title %}Остатки готовой продукции{% endblock %}

{% block content %}
<div class="container mt-5">



    <div class="mb-4">
        <a href="{% url 'create_shipment' %}" class="btn btn-primary">Создать отгрузку</a>
        <a href="{% url 'check_incoming' %}" class="btn btn-info">Проверить поступления</a>
        <a href="{% url 'view_shipments' %}" class="btn btn-secondary">Просмотреть отгрузки</a>
        <a href="{% url 'create_counterparty' %}" class="btn btn-secondary">Создать контрагента</a>
        <a href="{% url 'finished_goods_stock_list' %}" class="btn btn-secondary">Остаток на складе</a>
    </div>

</div>
{% endblock %}